.jumpto-cotainer {
  position: relative;
}
.jumpto-subnav {
  position:absolute;
  top:50px;
  right:-135px;
  width: 210px;
  background: url(../img/menu.png) no-repeat  #595959;
}

.jumpto-subnav .jumpto-second {
  display: none;
}

.jumpto-subnav.fixed {
  position: fixed !important;
 	right:0%;
  top: 70px;

}



.jumpto-subnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.jumpto-subnav ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.jumpto-subnav ul li a {
 padding:10px;
 display: block;
 color: white;
 font-size: 14px;
 text-align:right;
}

.jumpto-subnav ul li a:hover, .jumpto-subnav ul li a.active {
  background:#C73C35;
}


