/* Custom Stylesheet */
body, html {
      margin: 0;
      text-align: center;
	  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif ;
	 
}

body,  html {
	padding: 0;
	width: 100%;
	float: left;
	font-size: 100%;
  
}



.main p {
  color: #7A7A7A;
  font-size: 16px;
  width:80%;
  
  
}
.nav-top {
  background: #25304D;
  
}



/* ALL  */
h1 {
  color: #24304C;
  font-size: 26px;
  margin-top:5px;
}


.menu, .nav-top {
  margin-bottom: 0;
  position: relative;
  z-index:10;
}

.page_container {
  width:720px;
  margin: 0 auto;
}
.page_container h2, .page_container {
	border-top:1px solid rgba(0,0,0,0.15);
	padding-top:15px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 15px;
}
.page_container h2, .page_container h3  {
  text-align: left ;
}


.page_container p {
  
  font-size: 16px;
  line-height: 100%;
  text-align: center justify;
  font-weight:100;
  }



.page_container h2 {
  font-size:20px;
  color:#C73C35;
}
.page_container h3{
	font-size:18px;
	color:#24304C;
	
	
	}


	footer{
		width:100%;
		height:65px;
		background:#C63D36;
		border-bottom:20px solid #25304D;
	}
#header{
	width:100%;
	height:200px;
	background:#F4F7EC;
		
	}

#header img {
	position:relative;
	float:left;
	margin-left:10%;}

#header #titulo {
	width:50%;
	height:200px;
	margin: 0 auto ;
	position:relative;
	float:left;
	
		
	
}

#ces{
	width:200px;
	height:30px;
	float:left;
	margin:35px;
	left:50px;
	position:absolute;
	
	
	}

.boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #c73c35;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c73c35;
	box-shadow:inset 0px 1px 0px 0px #c73c35;
	background-color:#c73c35;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:-1.31px;
	border:1px solid ;
	display:inline-block;
	font-family:Verdana;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	color:#FFFFFF;
	height:60px;
	line-height:60px;
	width:164px;
}
.boton:hover {
	background-color:#f0625d;
}.boton:active {
	position:relative;
	top:1px;
}

.boton a, a:visited{
	color: #FFFFFF; 
	text-decoration: none;
	}
